<div class="d-grid vh-100 min-ah-500 align-content-between" style="grid-template-rows: auto 1fr">
    <app-nav></app-nav>
    <main role="main" class="d-grid container-fluid" style="grid-row:2">
        <div class="m-2 p-2 rounded border row d-grid justify-content-center align-items-center overflow-auto"
            style="background-color:#00000049;border-color:rgba(130, 130, 130, 0.612)!important;border-width:2px!important;border-style:inset!">
            <app-formlogin></app-formlogin>
        </div>
    </main>
</div>